
{% extends   'main/create.html' %}
{% load static %}
{% block content %}

{% comment %} {% endblock %} {% endcomment %}

<h1>
   <div class="container">
      <div class="row">
         <div class="col-3 col-sm-4">
            <img  id = "image "src="{% static 'main/img/aktau.jpg' %}"/>
            {% for el in singer %}
            <h3>{{ el.song_name }}</h3>
            <p>{{ el.about }}</p>
             <a href="{% url 'news-detail' el.id %} "><button class="btn btn-success">Өзгерту</button></a>
             {% endfor %}
         </div>
      </div>
   </div>


         {% comment %} <div class="col-4 col-sm-4">
            <img id = "image" src="{% static 'main/img/димаш.jpg'  %}"/>
            <h1> Димаш Кудайбергенов</h1>
            <p> Динмухамме́д  Кудайберге́н род. 24 мая 1994, Актобе — казахский певец, композитор и мультиинструменталист. Заслуженный деятель Казахстана (2019)[7]Его родители, Канат Кудайбергенулы Айтбаев и Светлана Айтбаева, являются заслуженными певцами Казахстана. Димаш на сцене с малых лет: он пел и играл на фортепиано на различных площадках и конкурсах на протяжении всего детства. Приобрёл значительную популярность в Казахстане и в других странах в 2015 году, став победителем Гран-при Славянского базара в Витебске, Белоруссия[8]. В 2015 и 2016 годах Димаш Кудайберген выступал в различных европейских и азиатских странах, а в 2016 году гастролировал по Казахстану со своим турне «Ұмытылмас күн», названным в честь одноимённой песни, написанной Димашем, когда ему было 19 лет. 
            </p>
         </div>
         <div class="col-4 col-sm-4">
            <img  id = "image" src="{% static 'main/img/erkeEsmahan.jpg' %}"/>
            <h1> Ерке Есмахан </h1>
            <p>Ерке Есмахан родилась 30 ноября 1984 года в селе Иргиз в Актюбинской области Казахской ССР, в семье заместителя руководителя организационного отдела Иргизского райкома КПСС Абдраша Нурмаханулы Есмахана . Происходит из рода торткара племени алимулы.
            </p>
         </div>
     
         <!-- Force next columns to break to new line at md breakpoint and up -->
         <div class="w-200 d-none d-md-block"></div>
         <div class="col-4 col-sm-4">
            <img  id = "image "src="{% static 'main/img/.jpeg' %}"/>
            <h1> Мирас Жугинисов</h1>
            <p> Мирас Жугунусов выдающийся певец, его академический вокал не оставит равнодушным никого. Увлекается спортом, играет в футбол, поет в группе с братьями.
            </p>
         </div>
       </div>
     </div> {% endcomment %}
</h1>
{% endblock content %}